$backgroundColorViolet: #73168C;
$backgroundColorWhite: #F8F9FA;
$backgroundColorPurple: #875595;

$colorWhite: #F8F9FA;
$colorPurple: #281259;

@import 'https://fonts.googleapis.com/css?family=Poppins';
$standard-font : Poppins;

* {
  font-family: $standard-font,sans-serif;
}

body {
  margin: 0;
  padding: 0;
}