$colorVioletDark: #2e1b33;
$colorVioletLight: #551167;
$colorWhite: #F8F9FA;
$colorPurpleLight: #875595;

@import 'https://fonts.googleapis.com/css?family=Poppins';
$standard-font : Poppins;

* {
  font-family: $standard-font,sans-serif;
}

body {
  margin: 0;
  padding: 0;
}